
.menu .label {
    -fx-text-fill: white;
    -fx-font: 16 bold;

}

.menu-item {
    -fx-background-color: #44414a;
    -fx-end-margin: 0;
    -fx-start-margin: 0;

}

.menu-bar{
    -fx-background-color: transparent;
}

.close-btn {
   -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color:  #101010;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #1dffeb;
}


.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #00ffa4;;
}



.jfx-combo-box{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}


.combo-box > .combo-box-button-container {
    -fx-background: black;
    -fx-background-color: black;
    -fx-text-fill: white;
}


.combo-box > .list-cell {
    -fx-text-fill: white;
}



.icon{
    -fx-text-fill: #FE774D;
    -fx-padding: 10.0;
    -fx-cursor: hand;
}

.icons-badge .badge-pane {
    -fx-background-color:#ff4081;
    -fx-background-radius:23.0;
    -fx-pref-width: 23.0;
    -fx-pref-height: 23.0;
    -fx-alignment: center;
}

.icons-badge Label{
    -fx-font-weight: BOLD;
    -fx-font-size: 13.0px !important;
    -fx-text-fill: WHITE;
}




